/* BasePage.css */
.base-page {
    position: relative;
  }
  
  .back-button {
    position: fixed; /* Change from absolute to fixed */
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000; /* Ensure the button is on top of other elements */
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }